nav ul   /* Remove bullet point for all navigator element */
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    border: 0;

    background-image: url("img/index_footer.gif");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

hr
{
    margin: 0;
    border: 10px solid #ACD1AF;
}

header
{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
}

.portal
{
    text-align: center;
}

.background_1
{
    background-image: url("img/background_index.gif");
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_1:hover
{
    background-position: top;
    transition: background-position 1000ms;
}

.logo
{
    border-radius: 20%;
    background: black;
    padding: 10px;
}

.logo_bg
{
    background-image: url("img/logo_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.layout_reset
{
    padding: 0;
    margin: 0;
}



